html {
  box-sizing: border-box;
  background-color: #444;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  background-image: url('../images/25u6xk0.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  color: #fff;
}

header h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.5em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin-top: 30%;
}

header p {
  font-family: 'Alegreya', 'Times New Roman', serif;
  font-size: 2em;
}

@media (max-width: 450px) {
  header h1 {
    margin-top: 70%;
    font-size: 3em;
  }

  header p {
    font-size: 1.5em;
  }
}