html {
  box-sizing: border-box;
  background-color: #444;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  width: 100%;
  height: 50px;
  transition: 0.25s ease-out;
}

nav a {
  color: #fff;
}

nav a,
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  text-decoration: none;
  padding: 20px;
  transition: 0.25s ease-out;
}

nav a:hover {
  color: #fff;
}

nav a:after {
  width: 100%;
  background: #fff;
}

.brand-icon {
  display: inline;
  color: #fff;
  padding-left: 15px;
  line-height: 50px;
}

nav ul {
  float: right;
}

nav ul li {
  list-style: none;
  display: inline;
  line-height: 30px;
}

header {
  background-image: url('../images/25u6xk0.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  color: #fff;
}

.title {
  position: absolute;
  height: 200px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.5em;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header p {
  font-family: 'Alegreya', 'Times New Roman', serif;
  font-size: 2em;
}

article {
  /* background: #fff; */
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  animation-name: bgchange;
  animation-duration: 20s;
}

article:hover {
  animation-name: opacitiii;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@media (max-width: 450px) {
  header h1 {
    font-size: 3em;
  }

  header p {
    font-size: 1.5em;
  }
}

@keyframes bgchange {
  0%   {background-color: #fff;}
  25%  {background-color: #aaa;}
  50%  {background-color: #fff;}
  75%  {background-color: #aaa;}
  100% {background-color: #fff;}
}

@keyframes opacitiii {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}
