html {
    box-sizing: border-box;
    background: $black;
    line-height: 1.6;
    color: $black;
    font-family: 'Nunito', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    background: $white;
  }

  h1, h2, h3, h4, h5 {
    line-height: 1.2;
  }