@import url('https://fonts.googleapis.com/css?family=Nunito');

$black: #000000;
$notsoblack: #444444;
$white: #ffffff;
$gray: lightgray;
$clear: rgba(0,0,0,0);
$card-text: #666666;
$subdued-red: #e76c67;