// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

$black: #222222;
$notsoblack: #676767;
$white: #ffffff;
$gray: #ebe9e9;
$clear: rgba(0,0,0,0);
$subdued-red: #e76c67;