.header {
  padding-top: 50px;
  @include bgImage("../images/25u6xk0.jpg", 50vh);
  background-attachment: fixed;
  color: $white;
  display: flex;
}
  
.title {
  align-self: flex-end;
  padding: 30px;
}

@media screen and (max-width: 800px) {  
  .header {
    justify-content: center;
    @include bgImage("../images/25u6xk0.jpg", 33vh);
  }

  .title {
    align-self: stretch;
    text-align: center;
  }
}

