.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background: $clear;   
}

.nav-list {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    display: block;
    padding: 1em;
    &:hover {
        color: $white;
    }
}

.js-nav-dark {
    transition: all 0.2s;
    background-color: $black;
}

.js-nav-smooth {
    transition: all 0.0s;
}

.js-nav-link-dark {
    color: $notsoblack;
}

@media screen and (max-width: 800px) {
    .nav-list {
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    .nav-list {
        flex-flow: column wrap;
        padding: 0;
        background: $black;
    }

    .nav-link {
        text-align: center;
        padding: 10px;
    }
}